* {
  margin: 0;
  padding: 0;
}




[data-bl="1"] {
  border-top: 20px solid #F2F2F2;
  border-left: 20px solid #F2F2F2;
  border-radius: 20px 0 0 0;
  border-collapse: collapse;
}

[data-bl="2"] {
  border-top: 20px solid #F2F2F2;
  border-collapse: collapse;
}

[data-bl="3"] {
  border-top: 20px solid #F2F2F2;
  border-right: 20px solid #F2F2F2;
  border-radius: 0 20px 0 0;
  border-collapse: collapse;
}

[data-bl="4"] {
  border-left: 20px solid #F2F2F2;
  border-collapse: collapse;
}

[data-bl="6"] {
  border-right: 20px solid #F2F2F2;
  border-collapse: collapse;
}

[data-bl="7"] {

  border-left: 20px solid #F2F2F2;
  border-bottom: 20px solid #F2F2F2;
  border-radius: 0px 0 0 20px;
  border-collapse: collapse;
}

[data-bl="8"] {
  border-bottom: 20px solid #F2F2F2;
  border-collapse: collapse;
}

[data-bl="9"] {
  border-bottom: 20px solid #F2F2F2;
  border-right: 20px solid #F2F2F2;
  border-radius: 0 0 20px 0;
  border-collapse: collapse;
}

table {
  border: 5px solid #F2F2F2;
  background-color: #F2F2F2;
}

input {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 0;
  font-size: 20pt;
  text-align: center;
  color: #7DA064;
  font-family: 'Gloria Hallelujah', cursive;
}

input:focus{
  background-color: #FFFBE0;
}

.correct {
  background-color: #D6EFEA;
}
.wrong {
  color: #FF8181;
  background: #FFDEDE;
}

.see-answer {
  color: #D94A4A;
  font-family: Arial, Helvetica, sans-serif;

}


[readonly] {
  color:#555555;
  font-family: Arial, Helvetica, sans-serif;
}



.sudoku-container {
  width: 100%;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

.sudoku-container .row {
  display: flex;
  flex-flow: nowrap row;
}

.button {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pending{
  color: #7DA064;
  font-family: 'Gloria Hallelujah', cursive;
}


#answer {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  background-color: #EA8585;
  color: #ffffff;
  font-size: 18px;
}

#back {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  background-color: #5F93B4;
  color: #ffffff;
  font-size: 18px;
}